.header-section{
    margin-top: 15px;
    margin-left: 500px;
    justify-content: space-around;
    flex: auto;
    
}
.text-body-emphasis{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}




.right-section{
    display: inline-flex;
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
}   


.left-section{
    margin-left: 900px;
    display: inline-flex;
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
    margin-top: 2px;
    
}

.inner-element {
    margin-right: 50px;
    vertical-align: 25px;
  }


  


.info-section{
    margin-top: 65px;
    margin-left: 80px;
}

.btn-logo {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .btn-logo:hover {
    text-decoration: underline;
  }

  .top{
    height:100px;
    width:100px;
  }

  span{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .button {
    background-color: #0362FC;
    color: white;
    border: none;
    border-radius: 5px;
   
    padding: 15px 32px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    width: 300px;
  }
  .button:hover {
    background-color: #a1a4a1;
    color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  .button:active {
    background-color: #a1a4a1;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  .button:focus {
    background-color: #a1a1a1;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }

 .video-container {
  position: relative;
  left: 600px;
 }
 .video-container video{
  width:50%;
  height:auto;
 }

 .popup{
  position: absolute;
  top: 200px;
  left: 200px;
 }

